*:not(ul, li) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin: auto;
  padding: 80px;
}
a {
  text-decoration: none;
  color: #00c0fa;
  font-weight: bold;
}
pre code {
  display: block;
  padding: 20px;
  background-color: #99999970;
  border-radius: 5px;
  overflow-x: auto;
}
pre code span {
  color: rgb(71, 0, 163);
}
img {
  max-width: 500px;
  height: auto;
}
